rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /companies/{companyId} {
      allow get: if isSignedIn()
      && hasAtLeastOnePrivilegeOnCompany(companyId, ['company:read', 'company:write']);

      match /subscriptions/{subscriptionId} {
        allow read: if isSignedIn()
        && hasAtLeastOnePrivilegeOnCompany(companyId, ['subscriptions:read']);
      }

      match /transactions/{transactionId} {
        allow read: if isSignedIn()
        && hasAtLeastOnePrivilegeOnCompany(companyId, ['transactions:read', 'transactions:write']);
      }

      match /transactionUpdateRequests/{transactionUpdateRequestId} {
        allow create: if isSignedIn()
        && validCreateValues(incomingData())
        && isOwner(incomingData().userId) && hasAtLeastOnePrivilegeOnCompany(companyId, ['transactions:write'])

        allow read: if isSignedIn()
        && isOwner(existingData().userId) && hasAtLeastOnePrivilegeOnCompany(companyId, ['transactions:write']);

        function validCreateValues(incomingData) {
          return (!("amount" in incomingData) || incomingData.amount is number )
          && (!("date" in incomingData) || incomingData.date is string )
          && (!("type" in incomingData) || incomingData.type in ['credit', 'debit'] );
        }
      }

      match /updateRequests/{updateRequestId} {
        allow create: if isSignedIn()
        && validCreateValues(incomingData())
        && isOwner(incomingData().userId) && hasAtLeastOnePrivilegeOnCompany(companyId, ['company:write'])

        allow read: if isSignedIn()
        && isOwner(existingData().userId) && hasAtLeastOnePrivilegeOnCompany(companyId, ['company:write']);

        function validCreateValues(incomingData) {
          return (!("name" in incomingData) || incomingData.name is string );
        }
      }
    }
    function existingData() {
      return resource.data
    }
    function hasAtLeastOnePrivilegeOnCompany(companyId, privileges) {
      return request.auth.token.companies != null && request.auth.token.companies.keys().hasAny([companyId]) && request.auth.token.companies[companyId].hasAny(privileges);
    }
    function incomingData() {
      return request.resource.data
    }
    function isOwner(userId) {
      return request.auth.token.app_user_id == userId;
    }
    function isSignedIn() {
      return request.auth.uid != null;
    }
  }
}